# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log

# Terraform variables
terraform/terraform.tfvars

# Sensitive files
*.pem
project-key

# Archives
*.zip

# Editor files
*~
